/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/


.booking_details {
    
    justify-content: space-between;
    list-style: none
}
.time_select {
    list-style:none;
}
